/* Stili per la barra di navigazione */
.nav_container {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 6rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

/* Stili per l'animazione del testo */
.animated_text {
  font-family: "Euclid Flex";
  text-transform: uppercase;
  font-weight: 100;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  margin-left: 0.5rem;

}
.logo_container{
  text-decoration: none;
  /* position: absolute;
  bottom: 0;
  left: 0; */


}

/* Stili per l'animazione del logo */
.animated_logo {
  text-align: center;
  margin-left: 1rem;
  margin-top: 0rem;
  margin-right: 0rem;

  align-items: center;
  z-index: -1;
  display: flex;
  align-items: center;
}

.menu_icon {

  cursor: pointer;
  margin-top: 0.5rem;
  margin-right: -1rem;
}

@media screen and (min-width: 600px) {
  .menu_icon {
    margin-right: -1rem;
  }
  .mobile_menu_container{
    display: none;
  }
  
}

@media screen and (min-width: 700px) {
  .menu_icon {
    margin-right: -2rem;
  }
}

@media screen and (min-width: 920px) {
  .menu_icon {
    display: none;
  }
}

.nav_menu {
  list-style: none;
  display: none;
  margin-bottom: -2rem;
  /* font-family: "Quicksand", sans-serif; */
}

/* Media query per il menu */
@media screen and (min-width: 920px) {
  .nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

/* Stili per la classe attiva del menu */
.nav_menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-height: 85vh; /* Altezza massima del menu (80% dell'altezza dello schermo) */
  overflow-y: auto; /* Abilita lo scrolling verticale quando necessario */
  background-color: #fff;
  margin-top: 6rem;
  border-bottom: solid 1rem yellow;

}

/* Media query per la classe attiva del menu */
@media screen and (min-width: 920px) {
  .nav_menu.active {
    flex-direction: row;
    margin-top: 7.2rem;
    border-bottom: none;
    background-color: transparent;
  }
}

/* Stili per gli elementi del menu */
.nav_item {
  text-align: center;
  list-style-type: none;
  margin: 3.5rem;
  font-size: 2rem;
}

.nav_item a {
  text-decoration: none;
  list-style-type: none;
}

/* Media query per gli elementi del menu */
@media screen and (min-width: 920px) {
  .nav_item {
    margin-top: -4.5rem;
    margin-left: 0;
  }
}

/* Stili per i link del menu */
.nav_link {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 1.5rem;
  position: relative;
}

.image {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.5rem;
}

.nav_list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 920px) {
  .nav_list {
    flex-direction: row;
    align-items: center;
  
  }
}

/* Stili per i sottomenu */


.sub_menu {
  position: absolute;
  top: 100%; /* Posiziona il sottomenu sotto il link principale */
  left: 0rem;
  background-color: #fff; /* Aggiungi un colore di sfondo al sottomenu */
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra al sottomenu */
  display: none; /* Nascondi il sottomenu per impostazione predefinita */
}
.sub_menu_1{
  left: 0rem;
}
.sub_menu_2{
  left: 0rem;
}
.sub_menu_3{
  left: 0rem;
}

.nav_item:hover .sub_menu {
  display: block; /* Mostra il sottomenu quando il link principale è in hover */
}
@media screen and (max-width: 600px) {
.sub_menu{
  position: relative;
}
.nav_list {
 display: none;
}

}

.mobile_menu_container{
  text-align: left;
  margin-left: 8rem;



}
.mobile_list_container{
  text-decoration: none;
  list-style-type: none;
}

.mobile_list_container li{

  padding-bottom: 1rem;
}



.mobile_menu_label{
  font-size: 1.5rem;
  margin: 1rem auto;
  color: #1d3b7a ;
}

.mobile_sub_menu_link{
  text-decoration: none;
  list-style-type: none;
  font-size: 1.5rem;
  padding:  12rem auto;
  color: #254fa9;
  font-family: "Euclid Flex";
  font-weight: 300;
}
.mobile_sub_menu_link:hover{
  color:#f5a700  ;

}
